<h2><%= @cat.name %></h2>
  <ul>
    <li>Birth Date: <%= @cat.birth_date %></li>
    <li>Color: <%= @cat.color %></li>
    <li>Sex: <%= @cat.sex %></li>
    <li>Description: <%= @cat.description %></li>
    
  </ul>
  <h5><a href="<%= edit_cat_url(@cat) %>">Update Info</a></h5> 
  <h6><a href="<%= cats_url %>" />Back to All Cats</h6> 
   
  

   



